.container {
    background-color: #f7f7f7;
    height: 800px;
    padding-top: 3%;
    display: flex;
    align-items: center;
}

@media (max-height: 900px) { 
    .container {
        height: 550px;
    }
}

.content{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 12px;
    margin-bottom: 3%;
    height: 490px;
    margin-left: 25%;
    width: 700px;
    padding: 1%;
    padding-left: 2%;

    .titleBlock{
        
        .title{
            font-size: 20px;
            font-weight: bold;
        }

        .titleText{
            margin-top: 2%;
        }
    }

    .blockText{
        margin-top: 3%;
        input, textarea{
            margin-top: 1%;
        }
        input[type=name], input[type=tel], input[type=email], input[type=text] {
            border-radius: 12px;
            border: 0px solid white;
            background-color: #E7E7E7;
            box-sizing: border-box;
            height: 28px;
            width: 70%;
            padding-left: 2%;
            &::placeholder {
                color: #A7A7A7;
            }
        }
        textarea {
            border-radius: 12px;
            margin-top: 2%;
            border: 0px solid white;
            background-color: #E4E4E4;
            box-sizing: border-box;
            height: 28px;
            width: 84%;
            height: 100px;
            padding-left: 2%;
            padding-top: 5px;
            color: #848484;
            font-size: 14px;
            &::placeholder {
                color: #A7A7A7;
            }
        }
    }

    .next{
        margin-top: 4%;
    }

    
}



 