.container{
    display: flex;
    height: 820px;
    background-color: #f2f2f2;
    .map {
        width: 70%;
        height: 820px;
    }
    
    .adsBlock{
        overflow-y: scroll;
        flex-basis: 35%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .founder {
            margin-top: 5%;
            font-weight: 500;
            font-size: 18px;
            box-sizing: border-box;
        }

        .search {
            display: flex;
            margin-top: 3%;
            width: 93%;
            justify-content: space-between;
            img{
                margin-left: 5%;
                cursor: pointer;
            }
            div{
                width: 100%;
            }
        }

        .ads {
            margin-top: 3%;
            display: flex;
            flex-direction: column;
            align-items: center;

            a{
                color:black;
            }
            
            .ad{
                
                height: 172px;
                width: 90%;
                border-radius: 15px;
                display: flex;
                align-items: center;
                background-color: white;
                justify-content: center;
                padding-left: 3%;
            }

            .ad:not(:first-child){
                margin-top: 3%;
            }
        }
    }

    
}

.inputik {
    border-radius: 12px;
    height: 32px;
    width: 100%;
    border: 0px solid white;
    background-color: #E7E7E7;
    box-sizing: border-box;
    padding-left: 3%;
    &::placeholder {
        color: #A7A7A7;
        letter-spacing: 1px;
        font-size: 14px;
        font-weight: 600;
        padding-left: 10%;
        background: url('../../../img/icons/icons8-поиск-30.png') no-repeat;
        background-size: 22px 22px;
        background-position-y: center;
        margin-right: 2%;
    }
}