.container{
    display: flex;
    height: 820px;
    background-color: #f2f2f2;
    .map {
        width: 70%;
        height: 820px;
    }
    
    .adsBlock{
        overflow-y: scroll;
        flex-basis: 35%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .founder {
            margin-top: 5%;
            font-weight: 500;
            font-size: 18px;
            box-sizing: border-box;
        }

        .search {
            display: flex;
            margin-top: 3%;
            width: 93%;
            justify-content: space-between;
            img{
                margin-left: 5%;
                cursor: pointer;
            }
            div{
                width: 600px;
            }
        }

        .ads {
            margin-top: 3%;
            display: flex;
            flex-direction: column;
            align-items: center;

            a{
                color:black;
            }
            
            .ad{
                
                height: 172px;
                width: 90%;
                border-radius: 15px;
                display: flex;
                align-items: center;
                background-color: white;
                justify-content: center;
                padding-left: 3%;
            }

            .ad:not(:first-child){
                margin-top: 3%;
            }
        }
    }

    
}