.container{
    display: flex;
    flex-direction: column;
    margin: 5% 0 0 10% ;
    justify-content: center;

    .text{
        margin-top: 5%;
        width: 500px;
        line-height: 18px;
        font-weight: 500;
    }

    .blockText{
        margin-top: 2%;
        input {
            margin-top: 1%;
        }
    }

    .next{
        margin-top: 2%;
    }

    input[type=name], input[type=tel], input[type=email] {
        border-radius: 12px;
        border: 0px solid white;
        background-color: #E7E7E7;
        box-sizing: border-box;
        height: 28px;
        width: 70%;
        padding-left: 2%;
        &::placeholder {
            color: #A7A7A7;
        }
    }
}