.container{
    display: flex;
    flex-direction: column;
    margin: 6% 0 0 10% ;
    justify-content: center;

    .text{
        margin-top: 6%;
        width: 500px;
        line-height: 18px;
        font-weight: 500;
    }

    .blockText{
        margin-top: 3%;
        input {
            margin-top: 1%;
        }
    }

    .next{
        margin-top: 5%;
    }
}