.containerIn{
    width: 735px;
    height: 564px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5%;

    @media (max-height: 900px) { 
        width: 650px;
        height: 500px;
    }

    .title{
        font-weight: bold;
        margin-left: 10%;
        margin-top: 10%;
        font-size: 20px;
    }

    .content{
        display: flex;
        flex-direction: column;
    }
}

.container {
    display: flex;
    background-color: #f7f7f7;
    height: 700px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 3% 0;
    
    @media (max-height: 900px) { 
        height: 550px;
    }
}

.headForm{
    margin-left: 10%;
    display: flex;
    justify-content: space-between;
    .close{
        color: red;
        font-size: 14px;
        padding-top: 25px;
        padding-right: 25px;
    }

    .arrow{
        margin-right: 10%;
        img{
            width: 14px;
            
        }
    }

    .back {
        padding-left: 10%;
        padding-top: 25px;
        color: black;
        display: flex; 
    }
}


.headFormFirst{
    margin-left: 85%;
    display: flex;
    justify-content: space-between;
    .close{
        color: red;
        font-size: 14px;
        padding-top: 25px;
        padding-right: 25px;
    }
}


