.container{
    display: flex;
    flex-direction: column;
    margin: 6% 0 0 10% ;
    justify-content: center;

    .text{
        margin-top: 2%;
        width: 500px;
        line-height: 18px;
        font-weight: 500;
    }

    .photos{
        margin-top: 6%;
        div {
            margin-top: 2%;
        }
    }

    .description{
        margin-top: 2%;
    }

    .next{
        margin-top: 2.5%;
    }

    textarea {
        border-radius: 12px;
        margin-top: 1%;
        border: 0px solid white;
        background-color: #E4E4E4;
        box-sizing: border-box;
        height: 28px;
        width: 84%;
        height: 100px;
        padding-left: 2%;
        padding-top: 5px;
        color: #000000;
        font-size: 14px;
        resize: none;
        &::placeholder {
            color: #A7A7A7;
        }
    }
}